.products {

    margin-left: 200px;
    margin-top: 50px;
    width: 400px;
}

.product-thumbnail {

    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 370px;
    display: flex;
    box-shadow: 5px 1px 20px 1px rgb(207, 180, 180);
}

/* .product-link:hover .product-thumbnail {

    box-shadow: none;
    transition: .3s;
} */
.saree-image {

    width: 100px;
    height: 150px;
}

.product-details {

    margin-left: 30px;
}

.btn {

    color: white;
    border: none !important;
    padding: 5px;
    background-color: #ff4584;
}

.btn:hover {

    padding: 4px;
    border: 1px solid #ff4584 !important;
    background-color: white;
    color: #ff4584;
}

.price-details {
    margin-top: 2rem;
}

.price-details td strong {
    font-weight: 600;
}

.price-details .special-heading {
    margin-bottom: 1rem;
}

.price-details .special-heading h3 {
    font-size: 1.5rem;
}

.table-content td {
    padding: 0.24rem 0;
    font-size: 0.87rem;
    font-weight: 500;
}


.table-content .table-details {
    padding-left: 10rem;
    width: 100%;
}

.price-details {

    position: fixed;
    width: 500px;
    top: 250px;
    right: 100px;
}

.product-link {

    color: black;
}

.total {

    width: 400px !important;
    margin-top: 2rem;
    margin: 80px;
    background-color: white;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 100px;
    right: 100px;
}

.total .special-heading {
    margin-bottom: 1rem;
}

.total .special-heading h3 {
    text-align: center;
    font-size: 1.5rem;
}

.table-content td {
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

.table-left {

    width: 80%;
    font-weight: 500;
}

.table-content .table-details {
    padding-left: 3rem;
    width: 100%;
}