@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --nav-height: 70px;
  --container-height: 70px;
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(92, 92, 104, 0.8);
  --color-green: #37af65;
}


/* Customization Form */
h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.wrapper {

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  /* filter: blur(5px); */
  /* padding-bottom: 100px; */
  /* margin-top: 100px; */
}

.bg-image {

  /* height: var(--container-height);
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px); */
}

#title {

  /* padding-top: 60px; */
  font-size: 30px;
  font-weight: 600;
}

@media (min-width: 576px) {
  .form-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .form-container {
    max-width: 720px;
  }
}

.form-container {

  /* position: absolute; */
  /* top: var(--nav-height); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* width: 100%; */
  /* padding-top: 30px; */
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */
#survey-form {
  /* background: var(--color-darkblue-alpha);
  padding: 5px 20px 0px 20px;
  border-radius: 10px; */
  /* padding: 2.5rem 0.625rem; */
}

@media (min-width: 480px) {
  #survey-form {
    padding: 30px 50px 5px 50px;
  }

  .form-container {

    padding-top: 40px;
  }
}

@media screen and (min-width: 900px) {

  #title {

    font-size: 40px;
  }

  .form-container {

    padding-top: 40px;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

#button {

  background-color: #ff4584;
  color: white;
}

.err{
  color: red;
  font-size: small;
  padding-left:1rem ;
  
}