/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Overpass:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    user-select: none;
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

.container.details_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3rem 0;
}

hr {
    border-top: 1px solid #CCC;
}

.white {
    border-top: 1px solid black;
    margin-top: 1rem;
}

hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 14px;
}

.right {
    width: 550px;
    padding-left: 3rem;
    /* width: 50%; */
    margin-right: 5rem;
    /* border: 1px solid #CCC; */

}

.right .price-details button {
    background: #14958f;
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.right .price-details s {
    margin: 0 0.2rem;
}

.right .price-details .price {
    display: block;
}

.right .price-details .taxes {
    display: block;
    margin-bottom: 1rem;
}

.right .price-details strong {
    font-size: 2rem;
}

.left {
    position: sticky;
    top: 0px;
}

.left .img-description {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */


}

.left .main-img img {
    width: 80%;
    height: 100%;
}

.left .main-img {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .img-options img {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 0.2rem;
    margin-bottom: 0.6rem;
    padding: auto;
    cursor: pointer;
}

.left .img-options {
    display: flex;
    flex-direction: column;
    padding-right: 0.4rem;
    margin-left: 2rem;
}

.left .buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    margin-left: 115px;
}

.left .buttons .btns {
    text-transform: uppercase;
    margin: 0 0.3rem;
    cursor: pointer;
    width: 10.5rem;
    height: 2.7rem;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 600;
    color: rgb(245, 240, 240);
    font-size: 1rem;
    background: orange;
    /* padding: 1rem 3rem; */
    display: block;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.btn {
    width: 50px;
    height: 30px;
    border: 1px solid #CCC;
    background-color: white;
    margin-right: 0.6rem;
    margin-top: 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.meta-data {
    margin: 1.5rem 0;
}

.meta-data span {
    font-size: 0.87rem;
    display: block;
    line-height: 2rem;
    font-weight: 500;
}

.Top {
    background: black;
}

.Top span a {
    text-decoration: none;
    color: white;
}

.Top span {

    display: block;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 13px;
}

.Description .heading h2 {
    padding: 1rem 0.3rem;
}

.Description .heading {
    border-bottom: 1px solid #CCC;
}

.Description .prod-content {
    font-size: 0.87rem;
    font-weight: 500;
    padding: 1rem 1rem 0.3rem;
}

.Description {
    border: 1px solid #CCC;
    margin-top: 3rem;
    border-radius: 10px;
}

.details {
    margin-top: 2rem;
}

.details td strong {
    font-weight: 600;
}

.details .special-heading {
    margin-bottom: 1rem;
}

.details .special-heading h3 {
    font-size: 1.5rem;
}

.table-content td {
    padding: 0.24rem 0;
    font-size: 0.87rem;
    font-weight: 500;
}


.table-content .table-details {
    padding-left: 3rem;
    width: 100%;
}

.test {
    display: none;
}

.prod-header h1 {

    font-size: 40px;
}

hr {

    height: 1px;
    background-color: black;
    border: none;
}

@media screen and (max-width: 789px) {

    .right {

        width: 100%;
    }

    .container.details_container {

        align-items: center;
    }

    .container .left {
        position: static;
        margin: 1rem 1.2rem;
        width: 100vw;
    }

    .img-description .img-options img {
        width: 50px;
        height: 50px;
        margin: 0 0.5rem;
    }

    .img-description .img-options {
        flex-direction: row;
        align-items: center;
        margin: 0.8rem 0;
    }

    .img-description .main-img {
        width: 400px;
        height: 300px;
    }

    .container .left .img-description {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container .right .prod-header h1 {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .container .right {
        padding: 0;
        margin: 0 1.2rem;

    }

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 1rem auto;
    }

    .Top {
        width: 100%;
    }

    .buttons {

        margin-left: 0px !important;
    }

    [for='toggle-heart'] {

        top: 150px !important;
        right: 0px !important;
    }
}

#toggle-heart {

    position: absolute;
    left: -100vw;
}

#toggle-heart:checked+label {

    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

[for='toggle-heart'] {

    position: absolute;
    top: 10px;
    right: 10px;
    color: #aab8c2;
    cursor: pointer;
    font-size: 2em;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

@keyframes heart {

    0%,
    17.5% {
        font-size: 0;
    }
}