
/* *{
    margin:0;
    padding: 0;
} */

/* body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} */

/* .cnt{
    width: 100vh;
    max-width: 90%;
    /* margin: 0 auto; */
/* } */

/* .cnt-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  */

/* .cnt-card{
    flex: 1 1 21rem;
    flex-wrap: wrap;
    background: white;
    margin: 10px 20px;
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.4); */
    /* border: 1px solid; */
    /* border-radius: 0.8rem; */
    /* padding:10px 20px */
    /* z-index: 2;

} */
/* 
.cnt-img{
    width: 17rem;
    border-radius: 0.8rem;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-prod{
    margin: 3rem;
    transition: 1s smooth;
}

.cont-col{
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-bottom: 2rem;
    /* margin-left: 2px; */
}

.card-custom{
    background: white;
    color: black;
    transition: 1s;
}

.imgHt{
    height: 18rem;
}

.card-desc{
    text-align: left;
    padding: 1rem;
}

.card-title{
    text-align: left;
    line-height: 1rem;
}

.btnprod{
    background: #fff;
    border: 2px solid #ff4584;
    color: black;
    width: 100%;
    margin: 0.2rem;
}

.btnprod:hover{
    background: #ff4584;
    border-color: #fff;

}

.card-custom:hover{
   transform: scale(1.1);
   overflow: hidden;
}

@media screen and (max-width:766px) {
    .container-prod{
        /* margin-left: 10rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cont-row{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-wrap: wrap;
    }


    .card-custom{
        margin-left: 6rem;
    }
    
}

#adminFeature{
    display: flex;
    justify-content: space-between;
}

.delForm{
    margin-right: 1rem;
}
