extends layout.pug

block style
  link(rel = "stylesheet" href = "/style/myaccount.css")

block content
  section.Myaccount
    p MY ACCOUNT
  section.carton
    #wishList.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/favourite.webp' width='90px' height='90px' alt='wish-list')
      .text
        p
          strong WISH LIST
          br
          |  Check out your favourite collection
    #order.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/orders.svg' width='100px' height='100px' alt='Track-your-order')
      .text
        p
          strong MY ORDERS
          br
          |  Track, return or buy things again
    #productReview.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/productReview.png' width='85px' height='85px' alt='productReview')
      .text
        p
          strong MY REVIEWS
          br
          |  Check your product reviews here
    #security.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/loginSecurity.png' width='100px' height='100px' alt='Login-and-Security')
      .text
        p
          strong LOGIN &amp; SECURITY
          br
          |  Edit login, name and mobile number
    #address.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/address.jpeg' width='100px' height='100px' alt='Your-Address')
      .text
        p
          strong MY ADDRESS
          br
          |  Edit addresses for new orders
    #payment.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/online_payment.png' width='100px' height='100px' alt='Payment-options')
      .text
        p
          strong PAYMENT OPTIONS
          br
          |  Edit or add payment methods
    #contact.block(onclick="location.href='#';" style='cursor: pointer;')
      .img
        img(src='images/MyAccount_Icons/contactUs.png' width='90px' height='90px' alt='Contact-us')
      .text
        p
          strong CONTACT US
          br
          |  Contact our customer service here
