extends layout.pug

block style
  link(rel="stylesheet" href = "/style/customize.css")

block content
  .wrapper
  .bg-image
  section#form-cnt.container.form-container
    header.header
    h1#title.text-center Edit Profile Details
    form#survey-form(action = "/editProfile" method = "post" enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=`${csrfToken}`)
      input(type="hidden" name="id" value=``)

      .form-group
        label#name-label(for='name') Name*
        input#name.form-control(type='text' value=`${name}` name='name' placeholder='Enter the name of the saree' required='')
        if(error==='nameErr')
            p.err Name cannot be empty
      .form-group
        label#pattern-label(for='pattern') Number*
        input#pattern.form-control(type='text' value=`${phoneNo}` name='phoneNo' placeholder='Enter the email address' required='')
        if (error === 'mobErr')
            p.err Mobile number must be 10 digit long
      .form-group
        label#pattern-label(for='pattern') Email Address*
        input#pattern.form-control(type='text' value=`${email}` name='email' placeholder='Enter the email address' required='')
        if (error === 'emailErr')
            p.err Enter correct email
      .form-group
       button#button.btn(type = 'submit') Change 