

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title WeNari
  script(src='https://kit.fontawesome.com/57c20b0d98.js' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/style/style.css')
  block style

body
  nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.pb-1
    .container-fluid
      a.navbar-brand(href='/') We Nari.com
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link.active(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link.active(href='/product') Products
          if(isLoggedIn)
            if(admin)
              li.nav-item
                a.nav-link.active(href="/admin") Add Product 
            else 
              //- li.nav-item
              //-   a.nav-link.active Shop
              li.nav-item
                a.nav-link.active(href = "/cart")
                  img#nav-icon(src='/images/cart-icon.png' alt='cart-icon')
                  | Cart
          li(class=`${!isLoggedIn ? 'nav-link': 'logout' }`)
          if(!isLoggedIn)
            a.nav-link.active(href='/login' target='') Login
          else
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')= fname
              ul.dropdown-menu
                li
                  a.dropdown-item(href='/myaccount') My Account
                li
                  div.logoutForm 
                    form(method="post" action="/logout")
                      input(type="hidden" name="_csrf" value=`${csrfToken}`)
                      button.dropdown-item(type="submit") Logout
                //-   a.dropdown-item(href='#') Another action
                //- li
                //-   hr.dropdown-divider
                //- li
                //-   a.dropdown-item(href='#') Something else here

  block content

  footer
    .container
      #footer
        .firstBox
          .row
            .col-md-2
              p.footer-heading MY ACCOUNT
              ul.companyInfo
                li.marginRemove
                  a(href='/myaccount' target='' rel='noopener noreferrer') Account
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Order Status
            .col-md-3
              p.footer-heading HELP
              ul.companyInfo
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Privacy and Policy
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Shipping Policy
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Cancellation &amp; Returns
            .col-md-3
              p.footer-heading COMPANY
              ul.companyInfo
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') About Us
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Contact Us
                li.marginRemove
                  a(href='#' target='_blank' rel='noopener noreferrer') Terms and Conditions
            .col-md-4
              p.footer-heading CONTACT US
              ul.addressInfo
                li.marginRemove
                  i.fa-solid.fa-location-dot
                  span
                    | 4th floor | We_Naari_Saree | Opp, Keshav Bagh Party Plot |
                    | Ranchi, India - 834001
              ul.addressInfo
                li.marginRemove
                  i.fa-solid.fa-phone
                  span
                    | India:
                    a(href='tel:123456789') +91 123456789
        .secondBox
          .containgApp
            a.app(href='#' target='_blank' rel='noopener noreferrer')
              i.fa-brands.fa-facebook-f.fa-2x
            a.app(href='#' target='_blank' rel='noopener noreferrer')
              i.fa-brands.fa-twitter.fa-2x
            a.app(href='#' target='_blank' rel='noopener noreferrer')
              i.fa-brands.fa-instagram.fa-2x
    .copyright
      i.fa-regular.fa-copyright
      span 2022 WeNari.com 

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js')

script(src = '/js/script.js')
block scripts