@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans:wght@700&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke !important;
}
/* navbar styling */

.nav-link:hover{
    color: black !important;
}
.navbar {
    background-color: #ff4584 !important;
}

.navbar-nav>li {

    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand {

    font-family: 'Sacramento', cursive;
    font-size: 40px !important;
    font-weight: bold !important;
    padding-left: 30px;
}

.nav-link {

    font-size: 20px !important;
}

/* description  */

#form{
    margin-top: 0;
    padding-top: 0;
    /* color: #85F4FF; */
    color: #F6FBF4;
    background: rgba(0, 0, 0, 0.4) url(./image/bg4.jpg)  center center/100% no-repeat;
    background-size: cover;
        
}

#form{
    font-family: 'Poppins', serif;
}

.inptMail{
    background-color: whitesmoke;
}

.cnt{
    margin-top: 0%;
    padding: 0 12%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.paddDiv{
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 1;
}

.txtInside{
    font-size: 1.4rem;
    font-weight: 600;
    
}

.btnBg{
    background-color: #ff4584;
    border-color: #ff4584;
    font-size: 1.2rem;
}

.rmvBxShadow{
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;

}

#mail{
    width: 45%;
}

#disc{
    width: 70%;
    resize: none;
}

/* #attach{
    width: 45%;
} */

@media screen and (max-width : 1001px) {
    #attach{
        width: 100%;
        /* background-color: #ff4584; */
        /* background-color: red; */
    }
}

/* footer firstBox */

.footer-heading{

    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
#footer {
    box-sizing: border-box;
    padding: 50px 10px 50px 5px;
}

.companyInfo,
.addressInfo {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}


.marginRemove a {
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

.btnBg:hover{
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #ff4584;
}

/* app in footer */
.secondBox {
    text-align: center;
    margin: 20px;
}

.app {
    color: black;
    margin: 8px;
}

/* copyright */
.copyright {
    padding: 15px;

    background-color: #ff4584;
    color: #ffff;
    text-align: center;
}

/* hovering part */

.companyInfo a:hover {
    text-decoration: underline;
    color: palevioletred;
}

.containgApp a i:hover {
    color: palevioletred;
}
